

body  {
	/*background-color: gainsboro;*/
}


/***********************************
Card Bodies
************************************/
.cards {
	width: 30%; /*every card can only take up 30% of the browser window*/
	border-style: solid;
	border-color: lightblue;
	border-width: 1px;
}

.cards img {
	margin: 10px auto;
	width: 100%;
	height: 30%;
	border-radius: 50%;

}

.header {
	margin-right: auto;
	margin-left: auto;
	border-style: dotted;
	border-width: 1px;
	border-color: lightgrey;
} /*supposed to be centered*/

