

body  {
	/*background-color: gainsboro;*/
}


/***********************************
Card Bodies
************************************/
.cards {
	width: 30%; /*every card can only take up 30% of the browser window*/
	border-style: solid;
	border-color: lightblue;
	border-width: 1px;
} /*supposed to have a lightblue solid 1px border*/

.cards img {
	display: block;
	margin: 10px auto;
	width: 100%;
	height: 30%;
	border-radius: 50%;
}/*supposed to be centered*/

.header {
	text-align: center;
	border-style: dotted;
	border-width: 1px;
	border-color: lightgrey;
} /*supposed to be centered, have a lightgrey dotted 1px border*/

.productDescription {
	text-align: justify;
	padding: 10px;
	font-weight: bold;
}

#secondSection header, p{
	font-weight: bold;
}

#thirdSection {
	font-weight: bold;
}

.availibility {
	background-color: darkgrey;
	color: yellow;
	width: 100%;
	padding: ;
}
